# Mutability

int, float, str and tuple are examples for immutable data types. On the other hand, types like list and dict are mutable.

In [1]:
#The id() built-in function returns the identity (reference) of an object. 
num1 = 5
id(num1)

11171872

In [2]:
# here, num1 gets a new identity
num1 = 10
id(num1)

11172032

In [3]:
# num2 will have the same reference as num1
num2 = num1
id(num2)

11172032

In [4]:
# num2 gets a new reference, num1 won't be affected
num2 = 4
id(num2)

11171840

In [5]:
num1

10

# Pass by reference

Variables in Python store references to an object, not their values. When you pass a list object to a function, you are passing the reference to this object. Since list is mutable, any in-place changes made to this object within the function will also be reflected in the original variable that was passed to the function.

In [6]:
def rotate(ip):
    ip.insert(0, ip.pop())
nums = [321, 1, 1, 0, 5.3, 2]
rotate(nums)
nums

[2, 321, 1, 1, 0, 5.3]

# Dict

Dictionaries can be thought of as a collection of key-value pairs or a named list of items. It used to be unordered, but recent Python versions ensure that the insertion order is maintained.

In [7]:
#A dict data type is declared within {} characters and each item requires two values â€” an immutable data type for key, followed by : character and finally a value of any data type.
marks = {'Rahul': 86, 'Ravi': 92, 'Rohit': 75, 'Rajan': 79}

marks['Rohit']

75

In [8]:
marks['Rahul'] += 5
marks['Ram'] = 67 
del marks['Rohit']

In [9]:
marks

{'Rahul': 91, 'Ravi': 92, 'Rajan': 79, 'Ram': 67}

In [10]:
items = {('car', 2): 'honda', ('car', 5): 'tesla', ('bike', 10): 'hero'}
items[('bike', 10)]

'hero'

In [11]:
#You can also use the dict() function for initialization in various ways. 
marks = dict(Rahul=86, Ravi=92, Rohit=75, Rajan=79)
marks

{'Rahul': 86, 'Ravi': 92, 'Rohit': 75, 'Rajan': 79}

In [12]:
items = [('jeep', 20), ('car', 3), ('cycle', 5)]
dict(items)

{'jeep': 20, 'car': 3, 'cycle': 5}

In [13]:
#Another way to initialize is to use the fromkeys() method that accepts an iterable and an optional value (default is None).
colors = ('red', 'blue', 'green')
dict.fromkeys(colors)

{'red': None, 'blue': None, 'green': None}

In [14]:
dict.fromkeys(colors, 255)

{'red': 255, 'blue': 255, 'green': 255}

In [15]:
marks = dict(Rahul=86, Ravi=92, Rohit=75, Rajan=79)

In [16]:
marks.get('Ravi')

92

In [17]:
value = marks.get('Ron')
print(value)

None

In [18]:
marks.get('Ron', 0)

0

In [19]:
vehicles = ['car', 'jeep', 'car', 'bike', 'bus', 'car', 'bike']
hist = {}
for v in vehicles:
     hist[v] = hist.get(v, 0) + 1
hist

{'car': 3, 'jeep': 1, 'bike': 2, 'bus': 1}

In [20]:
#Using get() method will not automatically add keys that do not exist yet to the dict object. You can use setdefault() method, which behaves similarly to get() except that keys will get created if not found.
marks = dict(Rahul=86, Ravi=92, Rohit=75, Rajan=79)

marks.get('Ram', 40)

40

In [21]:
marks

{'Rahul': 86, 'Ravi': 92, 'Rohit': 75, 'Rajan': 79}

In [22]:
marks.setdefault('Ram', 40)

40

In [23]:
marks

{'Rahul': 86, 'Ravi': 92, 'Rohit': 75, 'Rajan': 79, 'Ram': 40}

In [24]:
#The default for loop over a dict object will give you a key for each iteration.
fruits = dict(banana=12, papaya=5, mango=10, fig=100)

for k in fruits:
     print(f'{k}:{fruits[k]}')

banana:12
papaya:5
mango:10
fig:100

In [25]:
list(fruits)

['banana', 'papaya', 'mango', 'fig']

In [26]:
#The in operator checks if a key is present in the given dictionary. The keys() method returns all the keys and values() method returns all the values. 
marks = dict(Rahul=86, Ravi=92, Rohit=75, Rajan=79)

'Ravi' in marks

True

In [27]:
'Ram' in marks

False

In [28]:
marks.keys()

dict_keys(['Rahul', 'Ravi', 'Rohit', 'Rajan'])

In [29]:
marks.values()

dict_values([86, 92, 75, 79])

In [30]:
fruits = dict(banana=12, papaya=5, mango=10, fig=100)

In [31]:
# set-like object
fruits.items()

dict_items([('banana', 12), ('papaya', 5), ('mango', 10), ('fig', 100)])

In [32]:
for fruit, qty in fruits.items():
     print(f'{fruit}\t: {qty}')

banana	: 12
papaya	: 5
mango	: 10
fig	: 100

The del statement example seen earlier removes the given key without returning the value associated with it. You can use the pop() method to get the value as well. The popitem() method removes the last added item and returns the key-value pair as a tuple.

In [33]:
marks = dict(Rahul=86, Ravi=92, Rohit=75, Rajan=79)

marks.pop('Ravi')

92

In [34]:
marks

{'Rahul': 86, 'Rohit': 75, 'Rajan': 79}

In [35]:
marks.popitem()

('Rajan', 79)

In [36]:
marks

{'Rahul': 86, 'Rohit': 75}

In [37]:
#The update() method allows you to add/update items from another dictionary or a container with key-value pair elements.
marks = dict(Rahul=86, Ravi=92, Rohit=75, Rajan=79)
marks.update(dict(Jo=89, Joe=75, Ravi=100))

In [38]:
marks

{'Rahul': 86, 'Ravi': 100, 'Rohit': 75, 'Rajan': 79, 'Jo': 89, 'Joe': 75}

In [39]:
fruits = dict(papaya=5, mango=10, fig=100)
fruits.update([('tomato', 3), ('banana', 10)])
fruits

{'papaya': 5, 'mango': 10, 'fig': 100, 'tomato': 3, 'banana': 10}