set is a mutable, unordered collection of objects. frozenset is similar to set, but immutable. 
Sets are declared as a collection of objects separated by a comma within {} curly brace characters.

In [1]:
#The set() function can be used to initialize an empty set and to convert iterables.

empty_set = set()
empty_set

set()

In [2]:
nums = {-0.1, 3, 2, -5, 7, 1, 6.3, 5}

In [3]:
# note that the order is not the same as declaration
nums

{-5, -0.1, 1, 2, 3, 5, 6.3, 7}

In [4]:
# duplicates are automatically removed
set([3, 2, 11, 3, 5, 13, 2])

{2, 3, 5, 11, 13}

In [5]:
set('initialize')

{'a', 'e', 'i', 'l', 'n', 't', 'z'}

In [6]:
#set doesn't allow mutable objects as elements.

{1, 3, [1, 2], 4}

TypeError: unhashable type: 'list'

In [7]:
{1, 3, (1, 2), 4}

{(1, 2), 1, 3, 4}

In [9]:
#The in operator checks if a value is present in the given set.
colors = {'red', 'blue', 'green'}
'blue' in colors

True

In [10]:
'orange' in colors

False

In [11]:
color_1 = {'teal', 'light blue', 'green', 'yellow'}
color_2 = {'light blue', 'black', 'dark green', 'yellow'}

In [12]:
# union of two sets: color_1 | color_2
color_1.union(color_2)

{'black', 'dark green', 'green', 'light blue', 'teal', 'yellow'}

In [13]:
# common items: color_1 & color_2
color_1.intersection(color_2)

{'light blue', 'yellow'}

In [14]:
# items from color_1 not present in color_2: color_1 - color_2
color_1.difference(color_2)

{'green', 'teal'}

In [15]:
# items from color_2 not present in color_1: color_2 - color_1
color_2.difference(color_1)

{'black', 'dark green'}

In [16]:
# items present in one of the sets, but not both
# i.e. union of previous two operations: color_1 ^ color_2
color_1.symmetric_difference(color_2)

{'black', 'dark green', 'green', 'teal'}

In [17]:
#methods like keys(), values() and items() return a set-like object. You can apply set operators on them.
marks_1 = dict(Rahul=86, Ravi=92, Rohit=75)
marks_2 = dict(Jo=89, Rohit=78, Joe=75, Ravi=100)

In [18]:
marks_1.keys() & marks_2.keys()

{'Ravi', 'Rohit'}

In [19]:
marks_1.keys() - marks_2.keys()

{'Rahul'}

In [20]:
#Methods like add(), update(), symmetric_difference_update(), intersection_update() and difference_update() will do the modifications in-place
color_1 = {'teal', 'light blue', 'green', 'yellow'}
color_2 = {'light blue', 'black', 'dark green', 'yellow'}

In [21]:
# union
color_1.update(color_2)
color_1

{'black', 'dark green', 'green', 'light blue', 'teal', 'yellow'}

In [22]:
# adding a single value
color_2.add('orange')
color_2

{'black', 'dark green', 'light blue', 'orange', 'yellow'}

In [23]:
#The pop() method will return a random element being removed.
colors = {'red', 'blue', 'green'}

In [24]:
colors.pop()

'red'

In [25]:
colors

{'blue', 'green'}

In [26]:
#The discard() method is similar to remove(), but it will not generate an error if the element doesn't exist.
# you'll get KeyError if you use 'remove()' method here
colors.discard('black')

In [27]:
colors

{'blue', 'green'}

In [28]:
colors.clear()
colors

set()

In [29]:
#Here's some examples for comparison operations.
names_1 = {'Ravi', 'Rohit'}
names_2 = {'Ravi', 'Ram', 'Rohit', 'Raj'}

In [30]:
names_1 == names_2

False

In [31]:
# same as: names_1 <= names_2
names_1.issubset(names_2)

True

In [32]:
# same as: names_2 >= names_1
names_2.issuperset(names_1)

True

In [33]:
# disjoint means there's no common elements
# same as: not names_1 & names_2
names_1.isdisjoint(names_2)

False

In [34]:
names_1.isdisjoint({'Jo', 'Joe'})

True