will discuss the tuple data type and some of the common sequence operations. Data types like str, range, list and tuple fall under Sequence types. 
Tuples are declared as a collection of zero or more objects, separated by a comma within () parentheses characters. Each element can be specified as a value by itself or as an expression. The outer parentheses are optional if comma separation is present.

In [4]:
empty_tuple = ()
print(empty_tuple)

()

In [5]:
one_element = ('apple',)
print(one_element)

('apple',)

In [6]:
dishes = ('Aloo tikki', 'Baati', 'Khichdi', 'Makki roti', 'Poha')
print(dishes)

('Aloo tikki', 'Baati', 'Khichdi', 'Makki roti', 'Poha')

In [7]:
mixed = (1+2, 'two', (-3, -4), empty_tuple)
mixed

(3, 'two', (-3, -4), ())

In [10]:
#You can use the tuple() built-in function to create a tuple from an iterable 
chars = tuple('hello')
chars

('h', 'e', 'l', 'l', 'o')

Tuples are immutable, but individual elements can be either mutable or immutable. As an exercise, given chars = tuple('hello'), check the output of the expression chars[0] and the statement chars[0] = 'H'

In [9]:
tuple(range(3, 10, 3))

(3, 6, 9)

Slicing

One or more elements can be retrieved from a sequence using the slicing notation

In [11]:
primes = (2, 3, 5, 7, 11)

In [12]:
# index starts with 0
primes[0]

2

In [13]:
# start=2 and stop=4, default step=1
# note that the element at index 4 (stop value) isn't part of the output
primes[2:4]

(5, 7)

In [14]:
# default start=0
primes[:3]

(2, 3, 5)

In [15]:
# default stop=len(seq) for positive values of step
primes[3:]

(7, 11)

In [16]:
# shallow copy of the sequence, same as primes[::1]
primes[:]

(2, 3, 5, 7, 11)

In [17]:
# len(primes) - 1 = 4, so this is same as primes[4]
primes[-1]

11

In [18]:
# seq[-n:] will give the last n elements
primes[-1:]

(11,)

In [19]:
primes[-2:]

(7, 11)

In [20]:
# same as primes[0:5:2]
primes[::2]

(2, 5, 11)

In [21]:
# retrieve elements in reverse direction
# note that the element at index 1 (stop value) isn't part of the output
primes[3:1:-1]

(7, 5)

In [22]:
# reversed sequence
# would help you with the palindrome exercise from Control structures chapter
primes[::-1]

(11, 7, 5, 3, 2)

As an exercise, given primes = (2, 3, 5, 7, 11),

what happens if you use primes[5] or  primes[-6]?
what happens if you use primes[:5] or primes[-6:]?
is it possible to get the same output as primes[::-1] by using an explicit number for the stop value? If not, why not?

Sequence unpacking

You can assign the individual elements of an iterable to multiple variables. This is known as sequence unpacking and it is handy in many situations.

In [24]:
details = ('2018-10-25', 'car', 2346)
purchase_date, vehicle, qty = details
print(purchase_date)
print(vehicle)
print(qty)

2018-10-25
car
2346

In [27]:
#Swap variable values
num1 = 3.14
num2 = 42
num3 = -100
num1, num2, num3 = num3, num1, num2
print(f"{num1}; {num2}; {num3}")

-100; 3.14; 42

In [28]:
#You can use a * prefix to assign all the remaining values, if any is left, to a list variable.
values = ('first', 6.2, -3, 500, 'last')

In [29]:
x, *y = values

In [30]:
x

'first'

In [31]:
y

[6.2, -3, 500, 'last']

In [32]:
a, *b, c = values
print(a)
print(b)
print(c)

first
[6.2, -3, 500]
last

As an exercise, what do you think will happen for these cases, given nums = (1, 2):

    a, b, c = nums
    a, *b, c = nums
    *a, *b = nums